	<div id="header-box">
		<p id="date">
			11
			<span class="interpunct">&#9829;</span>
			5
			<span class="interpunct">&#9829;</span>
			23
		</p>
		<p id="names">Jaimee & Alex</p>
		<menu>
			<li> <a href="/">Details</a> </li>
			<li> <a href="/travel">Travel</a> </li>
			<li> <a href="/faq">FAQ</a> </li>
			<li> <a href="/love-story">Love Story</a> </li>
			<li> <a href="/rsvp">RSVP</a> </li>
			<li> <a href="/registry">Registry</a> </li>
			<li> <a href="/what2wear">What to Wear</a> </li>
		</menu>
	</div>
